In [53]:
# First, we need to define the DataFrames that are missing
# This is a placeholder - you'll need to replace with your actual data loading code
import pandas as pd
import numpy as np


# Read in the files
marketing = pd.read_csv("../data/bank_marketing.csv")
marketing.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no

In [55]:

# Example of how to load your data (replace with your actual data source)
# client = pd.read_csv("client_data.csv")
# marketing = pd.read_csv("marketing_data.csv")

# Since we don't have the original data, let's create sample DataFrames
client = pd.DataFrame({
    "client_id": range(1, 10),
    "age": [30, 35, 40, 45, 50, 55, 60, 65, 70],
    "job": ["admin.", "blue.collar", "technician", "services", "management", "retired", "entrepreneur", "self.employed", "unknown"],
    "marital": ["married", "single", "divorced", "married", "single", "divorced", "married", "single", "divorced"],
    "education": ["primary.", "secondary.", "tertiary.", "unknown", "primary.", "secondary.", "tertiary.", "unknown", "primary."],
    "credit_default": ["no", "yes", "no", "unknown", "no", "yes", "no", "unknown", "no"],
    "mortgage": ["yes", "no", "yes", "unknown", "yes", "no", "yes", "unknown", "yes"]
})

marketing = pd.DataFrame({
    "client_id": range(1, 10),
    "campaign": [1, 2, 3, 4, 5, 6, 7, 8, 9],
    "month": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep"],
    "day": [1, 2, 3, 4, 5, 6, 7, 8, 9],
    "campaign_contacts": [1, 2, 3, 4, 5, 6, 7, 8, 9],
    "previous_outcome": ["success", "failure", "nonexistent", "success", "failure", "nonexistent", "success", "failure", "nonexistent"],
    "campaign_outcome": ["yes", "no", "yes", "no", "yes", "no", "yes", "no", "yes"],
    "cons_price_idx": [93.1, 93.2, 93.3, 93.4, 93.5, 93.6, 93.7, 93.8, 93.9],
    "euribor_three_months": [1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9]
})

# Now continue with your original code
campaign = marketing[["client_id", "campaign", "month", "day", "campaign_contacts", "previous_outcome", "campaign_outcome"]]
economics = marketing[["client_id", "cons_price_idx", "euribor_three_months"]]

## Editing the client dataset
# Clean education column
client["education"] = client["education"].str.replace(".", "_")
client["education"] = client["education"].replace("unknown", np.NaN)

# Clean job column
client["job"] = client["job"].str.replace(".", "_")

# Clean and convert client columns to bool data type
for col in ["credit_default", "mortgage"]:
  client[col] = client[col].map({"yes": 1,
                                 "no": 0,
                                 "unknown": 0})
  client[col] = client[col].astype(bool)

# Editing the campaign dataset
# Change campaign_outcome to binary values
campaign["campaign_outcome"] = campaign["campaign_outcome"].map({"yes": 1, 
                                                                 "no": 0})

# Convert previous_outcome to binary values
campaign["previous_outcome"] = campaign["previous_outcome"].map({"success": 1, 
                                                                 "failure": 0,
                                                                 "nonexistent": 0})

# Add year column
campaign["year"] = "2022"

# Convert day to string
campaign["day"] = campaign["day"].astype(str)

# Add last_contact_date column
campaign["last_contact_date"] = campaign["year"] + "-" + campaign["month"] + "-" + campaign["day"]

# Convert to datetime
campaign["last_contact_date"] = pd.to_datetime(campaign["last_contact_date"], 
                                               format="%Y-%b-%d")

# Clean and convert outcome columns to bool
for col in ["campaign_outcome", "previous_outcome"]:
  campaign[col] = campaign[col].astype(bool)

# Drop unneccessary columns
campaign.drop(columns=["month", "day", "year"], inplace=True)

# Save tables to individual csv files
client.to_csv("client.csv", index=False)
campaign.to_csv("campaign.csv", index=False)
economics.to_csv("economics.csv", index=False)

/var/folders/4f/12hj5ywj25s0k8zdfjj3v6000000gn/T/ipykernel_35891/2579868964.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["campaign_outcome"] = campaign["campaign_outcome"].map({"yes": 1,
/var/folders/4f/12hj5ywj25s0k8zdfjj3v6000000gn/T/ipykernel_35891/2579868964.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["previous_outcome"] = campaign["previous_outcome"].map({"success": 1,
/var/folders/4f/12hj5ywj25s0k8zdfjj3v6000000gn/T/ipykernel_35891/2579868964.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["year"] = "2022"
/var/folders/4f/12hj5ywj25s0k8zdfjj3v6000000gn/T/ipykernel_35891/2579868964.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  campaign["day"] = campaign["day"].astype(str)